[project]
	description = Helping you select an MV* framework - Todo apps for Backbone.js, Ember.js, AngularJS, Spine and many more
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kelong
[access "refs/for/refs/*"]
	read = group user/kelong
	push = group user/kelong
	label-Code-Review = -2..+2 group user/kelong
	label-Verified = -1..+1 group user/kelong
	rebase = group user/kelong
	removeReviewer = group user/kelong
	submit = group user/kelong
[access "refs/heads/*"]
	read = group user/kelong
	create = group user/kelong
	push = +force group user/kelong
	pushMerge = group user/kelong
[access "refs/tags/*"]
	push = +force group user/kelong
	pushTag = group user/kelong
	pushSignedTag = group user/kelong
